.land {
  display: grid;
  grid-template-columns: 125px 125px 125px 125px;
  grid-template-rows: 125px 125px 125px 125px;
}

.element--grass {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}

.element--water {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.element--rocks {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -1;
}