.palette {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap-reverse;
  }

.color-1 {
  order: 3;
  }

.color-3 {
  order: 2;
  }

.color-5 {
  order: 1;
  }
