.spot {
  display: flex;
  margin-left: 30px;
  padding: 10px 0;
  width: 200px;
  height: 200px;
}

.racoon-green {
  flex-shrink: 1;
  flex-basis: 100px;
}

.racoon-brown {
  flex-shrink: 1;
  flex-basis: 300px;
}
