.container {
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  line-height: 30px;
}

.block {
  padding: 20px 0;
  margin-top: 20px;
}

.block-1 {
  padding: 20px;
}

.block-2 {
  padding: 20px;
}
