.land {
  display: grid;
  grid-template-areas:
    "w w . ."
    ". . l l"
    "g g . ."
    ". . r r";
}

.element--water {
  grid-area: w;
}

.element--grass {
  grid-area: g;
}

.element--lava {
  grid-area: l;
}

.element--rocks {
  grid-area: r;
}
