.spot {
  display: flex;
  margin-left: 50px;
  padding: 10px 0;
  width: 300px;
  height: 200px;
}

.racoon-green {
  flex-shrink: 1;
  flex-basis: 100px;
  padding: 25px;
  min-width: 50px;
}

.racoon-brown {
  flex-shrink: 0;
  flex-basis: 300px;
}
