.grid {
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  /*grid-template-rows: 50px 140px;*/
  grid-template-rows: 50px auto 140px;
  gap: 10px;
}

.site-heading {
  grid-column: 1/-1;
}

.video {
  grid-column: 1/3;
  /*grid-row: 3;*/
}

.sidebar {
  grid-column: 4;
  grid-row: 2/4;
}
