body {
  padding: 20px;
}

.column {
  display: inline-block;
  vertical-align: bottom;
  width: 100px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px;
}

.column-1 {
  height: 40px;
}

.column-2 {
  height: 60px;
}

.column-3 {
  height: 80px;
}
