.block {
  width: 200px;
  height: 40px;
  margin: 20px;
}

.block2 {
  padding: 0 20px;
}

.block3 {
  padding: 0 20px;
  border-width: 10px;
  border-style: solid;
  border-color: #6a6a6a;
}
