.room {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
}

.rug {
  min-height: 20px;
  width: 80px;
  /*width: 120px;*/
}

.room-1 {
  align-content: stretch;
  /*align-items: stretch;*/
  /*align-items: flex-start;*/
  /*align-items: center;*/
  align-items: flex-end;
}

.room-2 {
  align-content: stretch;
  /*align-items: stretch;*/
  /*align-items: flex-start;*/
  /*align-items: center;*/
  align-items: flex-end;
}

.room-2 .rug {
  /*width: 80px;*/
  width: 120px;
}
